@model List<Cookie>
@{
    ViewData["Title"] = "Index";
    
    int count = 1;
}

<div class="container">
    <div class="row">

        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="header d-flex justify-content-between my-5">
                       
                        <div><a class="btn btn-success btn-sm my-4" asp-controller="Cookie" asp-action="Create">Create</a></div>




                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th> No </th>
                                    <th> Image </th>
                                    <th> Discount </th>
                                    <th> Cookie </th>
                                    <th> WeekCount </th>
                                    <th> Setting </th>

                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var cookie in Model)
                                {
                                    <tr>
                                        <td> @count </td>
                                        <td>   <img style="width:100px; height:50px; border-radius:unset" src="~/assets/img/@cookie.Image" alt="Poster" /></td>
                                        <td> @cookie.Header </td>
                                        <td>@cookie.Main  </td>
                                        <td> @cookie.Footer </td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" asp-action="Detail" asp-route-Id="@cookie.Id"><i class="mdi mdi-account-card-details"></i></a>
                                            <a class="btn btn-inverse-warning btn-sm" asp-action="Edit" asp-route-Id="@cookie.Id"><i class="mdi mdi-grease-pencil"></i></a>
                                            <form style="display:inline;" asp-action="Delete" asp-route-Id="@cookie.Id">
                                                <button type="submit" class="btn btn-danger btn-sm"><i class="mdi mdi-delete-forever"></i></button>
                                            </form>
                                        </td>
                                    </tr>
                                    count++;
                                }






                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

